.sidePanel {
  position: fixed;
  overflow-y: scroll;
  top: 0;
  bottom: 0;
  right: 0;
  padding: 70px 20px 20px 20px;
  direction: flex;
  flex-direction: column;
  gap: 25px;
  z-index: -1;
  background-color: white;
  min-width: 280px;
  text-align: left;
  cursor: pointer;
  scrollbar-width: none;
  -ms-overflow-style: none;

  &__h4 {
    border-bottom: 1px solid #d0d1d2;
    font-weight: 500;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    padding: 10px 0 15px 10px;
    color: black;
    cursor: pointer;
  }
  &::-webkit-scrollbar {
    display: none;
  }
}
