.header {
  //   background: url("../../Photos/Cars/model-3.png") no-repeat center center fixed;
  // background: url("https://tesla.com/ns_videos/model-3-social.jpg") no-repeat
  background: url("../../Photos/Cars//model3.jpg") no-repeat center center fixed;
  height: 100vh;
  background-size: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: grid;
  place-items: center;
  min-width: 100px;
}

.header__info {
  display: flex;
  flex-direction: column;
  height: 360px;
}

.header__infoText {
  text-align: center;
  flex: 1;
  h1 {
    font-weight: 500;
    font-size: 38px;
    color: #393c41;
  }
  h4 {
    color: #5c5e62;
    padding-top: 15px;
    padding-bottom: 4px;
    font-size: 15px;
    // font-weight: 600;
    cursor: pointer;
    span {
      border-bottom: 1px solid black;
    }
    span:hover {
      border-bottom-width: 2px;
    }
  }
}

.header__actions {
  margin-top: 330px;
  display: flex;
  gap: 20px;
  button {
    border: none;
    width: 260px;
    padding: 12px 0;
    border-radius: 50px;
    text-transform: uppercase;
    font-weight: 600;
    outline: none;
  }
}

.header__primary {
  background-color: #393c41;
  color: white;
  opacity: 0.9;
  cursor: pointer;
}

.header__secondary {
  cursor: pointer;
  background-color: white;
  color: black;
  opacity: 0.8;
}
